.btn {
  background: $purple;
  display: inline-block;
  padding: 12.5px 20px;
  border: none;
  border-radius: 5px;
  display: block;
  color: $light;
  font-size: 20px;
  border-bottom: solid 4px rgba($color: #000, $alpha: 0.25);

  &.orange {
    background: $orange;
  }

  &.yellow {
    background: $yellow;
  }

  &.ask {
    margin: 0 auto;
  }

  &.finish{
    margin: 15px auto;
  }
}

.play-div{
  margin-bottom: 100px;
}

.margin-auto {
  margin: auto;
}

label.line {
  display: flex;
  flex-direction: row !important;
  align-items: center;

  input[type=checkbox] {
    padding: 16px;
    margin: 10px 16px;
  }
}

