.quiz-wrapper {
  display: flex;
  flex-direction: column;
  height:auto;
  overflow: hidden;
  padding: 10px 0;
  // border: solid 2px $purple;
  border-radius: 5px;
  
  img {
    width: 100%;
  }
  .border{
    background: #fff;
    border: 3px solid $blue;
    margin: 10px 0;
    padding: 10px;
    a{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: space-between;
      color: black;
      img{
        // height: 150px;
      }
    }
  }
}

.imgQ{
  height: 150px;
}