#navigation-mobile-wrapper-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000000;
}

#navigation-mobile-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  // background: rgba($color: #fff, $alpha: 0.8);

  .link {
    pointer-events: none;    
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 225ms ease-in;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 50;
    border-radius: 100%;
    border: none;
    background: $light;
    box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0);
    // text-transform: uppercase;

    span {
      opacity: 0;
      font-size: 16px;
      color: #fff;
      font-weight: 600;
      font-family: 'Montserrat';
      text-transform: uppercase;
      // text-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.7);
    }

    a {
      display: flex;
      color: $grey;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: 225ms ease-out;
      // text-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.15);
    }

    &.top, &.left, &.right {
      pointer-events: all;
    }

    &.top span, &.left span, &.right span {
      opacity: 1;
      transition: 195ms ease-in;
    }

    &.link-top {
      // position: relative;
      background: $orange;

      span {
        position: absolute;
        top: -30px;
        left: 50%;
        margin: auto;
        transform: translateX(-50%);
        text-align: center;
        white-space: nowrap;
        // color: $grey;
      }
    }

    &.link-left {
      // position: relative;
      background: $yellow;
      span {
        position: absolute;
        left: -40px;
        top: -30px;
        margin: auto;
        text-align: right;
        white-space: nowrap;
        // color: $grey;
        }
    }

    &.link-right {
      background: $red;
      // position: relative;
      span {
        position: absolute;
        right: -40px;
        top: -30px;
        margin: auto;
        white-space: nowrap;
        // color: $grey;
      }
    }
  }

  form {
    position: absolute;
    height: 60px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 0 64px;
    opacity: 0;
    transition: 225ms ease-out;
    pointer-events: none;

    .wrapper {
      position: relative;
      width: 100%;
      pointer-events: all;

      button[type=submit] {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background: $grey;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 5px 5px 0;
      }
    }

    .searchBar {
      height: 40px;
      width: 100%;
      border: none;
      border-radius: 5px;
      padding: 10px 72px 10px 16px;
      font-size: 16px;
      box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.15);
    }
  }

  button {
    background: none;
    border: none;
  }

  & > button.home {
    width: 70px;
    height: 70px;
    z-index: 100;
    background: $light;
    box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.35);

    &.on{
      background: $purple;
    }
  }

  & > a.left {
    bottom: 135px;
    left: -135px;
    transition: 195ms ease-out;
    z-index: 50;
    box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.25);
  }

  & > a.top {
    bottom: 180px;
    transition: 195ms ease-out 30ms;
    z-index: 50;
    box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.25);
  }

  & > a.right {
    bottom: 135px;
    left: 135px;
    transition: 195ms ease-out 60ms;
    z-index: 50;
    box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.25);
  }

  & > button {
    transition: 225ms ease-in;
    position: absolute;
    margin: 0 auto;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 50;
    border-radius: 100%;
    border: none;
    background: $light;
    box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0);
  }

  &.searching {

    form {
      opacity: 1;
      transition: 195ms ease-in;
      z-index: 150;
    }

    & > a, & > button {
      display: none;
    }

    .left {

      img {
        opacity: 0;
        transition: 225ms ease-in-out;
      }

      a {
        display: flex;
        align-items: center;
}
    }

    #navigation-mobile {
      background: $blue;
    }
  }
  
  #navigation-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    overflow: hidden;
    height: 60px;
    filter: drop-shadow(0 -2px 2px rgba($grey, 0.15));

    .center {
      height: 110px;
      width: 110px;
      min-width: 110px;
      border: solid 10px $blue;
      border-radius: 100%;
      position: relative;
      /* margin-left: -25px; */
      z-index: -1;
      display: block;
    }

    .left, .right {
      background: $blue;
      width: 100%;
      height: 60px;
      display: block;

      a {
        color: $light;
        text-decoration: none;
        text-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.15);
        text-transform: uppercase;

        &:hover {
          background-color: rgba($color: #000000, $alpha: 0.15);
        }
      }
    }

    img {
      padding: 0 16px;
      height: 32px;
      filter: drop-shadow(0 2px 2px rgba($color: #000000, $alpha: 0.15));
    }

    .left {
      margin-right: -10px;
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        height: 100%;
        // padding: 0 16px;
        font-family: 'Montserrat';
        font-weight: 600;
      }

      // img {
      //   padding: 0 16px 0 0;
      // }
    }
    
    .right {
      margin-left: -10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        display: flex;
        height: 100%;
        align-items: center;
      }
    }
  }
}

#bottom-gradiant {
  position: fixed;
  z-index: 0;
  bottom: 0;
  // opacity: 0;
  transition: background-image 225ms ease-out;
  width: 100%;
  height: 60px;
  // background: rgba($blue, 0.35);
  background-image: linear-gradient(to top, rgba($blue,1), rgba($blue,0.35));
  pointer-events: none;

  &.on {
    opacity: 1;
    transition: background-image 195ms ease-in;
    pointer-events: all;
    height: 100vh;
    background: rgba($blue, 0);
    background-image: linear-gradient(to top, rgba(#000, 0.8), rgba(#000,0.8));
  }
}
